<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dofollow dot app </title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
<!-- header -->
<header class="py-4">
<div class="container">
    <div class="row">
        <div class="col-3">DoFollow.Appp</div>
        <div class="col-md-6"><input type="text" class="search w-100 p-1 px-3 rounded-lg" placeholder="Contract Title, keywords or name"></div>
        <div class="col-3 text-right"><span class="mr-2">Already have an account? <a href="#!" class="primary-color">Log in</a></span></div>
    </div>
</div>
</header>
<!-- /header -->

<div class="col-12 light-bg">
    <div class="row">
        <div class="col-md-2"></div>
    <div class="col-md-7 px-0 position-relative overflow-hidden">
        <div class="bg-white mt-3">
            <h1 class="subtitle col py-4 ">Recent Contratct</h1>
            <hr>
   <ul class="list-unstyled  bg-white shadow-1 position-relative overflow-hidden">

 
        <li class="bg-white job-list  position-relative text-left rounded-lg">
             
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-md-9 mb-4">
                               <div class="job_title">
                                       Write A Tech Website base on your experience, Please don't make sure that you just want it . Wow !
                               </div>
                        </div>
                 
                    <div class="col text-right">11 minutes ago</div>
                   </div>
                   <div class="row">
                       <div class="col mb-2">
                       <span class="type">Type:</span><span>Backlink and Promotion</span>
                       </div>
                   </div>
                   
                    
                    <div class="job-descrip">
                       I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                       I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                    <span><a href="#!">more</a></span></div>
                    <div class="clearfix mb-2"></div>
                    <small class="niche mt-2">
                           <span class="badge badge-primary p-1">Education</span>  <span class="badge badge-primary p-1">Education</span>  <span class="badge badge-primary p-1">Education</span>
                   </small>
                
            </div><hr>
               </li>
               <li class="bg-white job-list  position-relative text-left rounded-lg">
                           
                           <div class="col-md-12 ">
                               <div class="row">
                                   <div class="col-md-9 mb-4">
                                          <div class="job_title">
                                                  Write A Tech Website base on your experience, Please don't make sure that you just want it . Wow !
                                          </div>
                                   </div>
                            
                               <div class="col text-right">11 minutes ago</div>
                              </div>
                              <div class="row">
                                  <div class="col mb-2">
                                  <span class="type">Type:</span><span>Backlink and Promotion</span>
                                  </div>
                              </div>
                              
                               
                               <div class="job-descrip">
                                  I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                                  I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                               <span><a href="#!">more</a></span></div>
                               <div class="clearfix mb-2"></div>
                               <small class="niche mt-2">
                                      <span class="badge badge-primary p-1">Education</span>  <span class="badge badge-primary p-1">Education</span>  <span class="badge badge-primary p-1">Education</span>
                              </small>
                           
                       </div><hr>
                          </li>
   
   </ul>
   </div>
</div>
<div class="col-md-3"></div>
</div>
</div>

<!-- footer -->
<footer class="primary-bg mt-4">
<div class="container text-center py-5">
<ul>
    <li>
        Terms 
    </li>
    <li>
        About
    </li>
    <li>Have a question</li>
</ul>
</div>
</footer>
<!-- footer -->
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
</div>
<div class="col-md-3">
    .
</div>
</div>
</div>
</body>
</html>