<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dofollow dot app </title>
     <link rel="stylesheet" href="css/bootstrap.css"></link>
    <link rel="stylesheet" href="css/style.css"></link>
    

</head>
<body>
    
<!-- header -->
<header class="py-4">
<div class="container">
    <div class="row">
        <div class="col-3">DoFollow.Appp</div>
        <div class="col-md-6"><input type="text" class="search w-100 p-1 px-3 rounded-lg" placeholder="Contract Title, keywords or name"></div>
        <div class="col-3 text-right"><span class="mr-2">Already have an account? <a href="#!" class="primary-color">Log in</a></span></div>
    </div>
</div>
</header>
<!-- /header -->

<div class="col-12 light-bg">
    <div class="row">
        <div class="col-md-2"></div>
    <div class="col-md-7 position-relative overflow-hidden">
   <ul class="list-unstyled col position-relative overflow-hidden">
    <li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
        <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
             <div class="w-100 h-100 float-left"></div>
        </div>

         <div class="col-md float-right">
             <div class="row">
     <!--  -->
     <div class="col-md-9 ">
         <div class="job_title font-weight-bold">
             Write A Tech Website
         </div>
         
         <div class="job-descrip">
            I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
            I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
         </div>
         <div class="clearfix mb-2"></div>
         <small class="niche">
            <span class="badge badge-dark">Education</spanb>
        </small>
     </div>
     <!--  -->
     <div class="col-md-3 pt-2">
         <div class="text-right">
         <small class="time">11 min ago.</small>
      <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
      </div>
     </div>
     </div>
 </div>
    </li><li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
        <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
             <div class="w-100 h-100 float-left"></div>
        </div>

         <div class="col-md float-right">
             <div class="row">
     <!--  -->
     <div class="col-md-9 ">
         <div class="job_title font-weight-bold">
             Write A Tech Website
         </div>
         
         <div class="job-descrip">
            I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
            I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
         </div>
         <div class="clearfix mb-2"></div>
         <small class="niche">
            <span class="badge badge-dark">Education</spanb>
        </small>
     </div>
     <!--  -->
     <div class="col-md-3 pt-2">
         <div class="text-right">
         <small class="time">11 min ago.</small>
      <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
      </div>
     </div>
     </div>
 </div>
    </li><li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
                     <div class="w-100 h-100 float-left"></div>
                </div>
     
                 <div class="col-md float-right">
                     <div class="row">
             <!--  -->
             <div class="col-md-9 ">
                 <div class="job_title font-weight-bold">
                     Write A Tech Website
                 </div>
                 
                 <div class="job-descrip">
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                 </div>
                 <div class="clearfix mb-2"></div>
                 <small class="niche">
                    <span class="badge badge-dark">Education</spanb>
                </small>
             </div>
             <!--  -->
             <div class="col-md-3 pt-2">
                 <div class="text-right">
                 <small class="time">11 min ago.</small>
              <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
              </div>
             </div>
             </div>
         </div>
            </li><li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
                     <div class="w-100 h-100 float-left"></div>
                </div>
     
                 <div class="col-md float-right">
                     <div class="row">
             <!--  -->
             <div class="col-md-9 ">
                 <div class="job_title font-weight-bold">
                     Write A Tech Website
                 </div>
                 
                 <div class="job-descrip">
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                 </div>
                 <div class="clearfix mb-2"></div>
                 <small class="niche">
                    <span class="badge badge-dark">Education</spanb>
                </small>
             </div>
             <!--  -->
             <div class="col-md-3 pt-2">
                 <div class="text-right">
                 <small class="time">11 min ago.</small>
              <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
              </div>
             </div>
             </div>
         </div>
            </li><li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
                     <div class="w-100 h-100 float-left"></div>
                </div>
     
                 <div class="col-md float-right">
                     <div class="row">
             <!--  -->
             <div class="col-md-9 ">
                 <div class="job_title font-weight-bold">
                     Write A Tech Website
                 </div>
                 
                 <div class="job-descrip">
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                 </div>
                 <div class="clearfix mb-2"></div>
                 <small class="niche">
                    <span class="badge badge-dark">Education</spanb>
                </small>
             </div>
             <!--  -->
             <div class="col-md-3 pt-2">
                 <div class="text-right">
                 <small class="time">11 min ago.</small>
              <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
              </div>
             </div>
             </div>
         </div>
            </li><li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
                     <div class="w-100 h-100 float-left"></div>
                </div>
     
                 <div class="col-md float-right">
                     <div class="row">
             <!--  -->
             <div class="col-md-9 ">
                 <div class="job_title font-weight-bold">
                     Write A Tech Website
                 </div>
                 
                 <div class="job-descrip">
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                 </div>
                 <div class="clearfix mb-2"></div>
                 <small class="niche">
                    <span class="badge badge-dark">Education</spanb>
                </small>
             </div>
             <!--  -->
             <div class="col-md-3 pt-2">
                 <div class="text-right">
                 <small class="time">11 min ago.</small>
              <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
              </div>
             </div>
             </div>
         </div>
            </li><li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
                     <div class="w-100 h-100 float-left"></div>
                </div>
     
                 <div class="col-md float-right">
                     <div class="row">
             <!--  -->
             <div class="col-md-9 ">
                 <div class="job_title font-weight-bold">
                     Write A Tech Website
                 </div>
                 
                 <div class="job-descrip">
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                 </div>
                 <div class="clearfix mb-2"></div>
                 <small class="niche">
                    <span class="badge badge-dark">Education</spanb>
                </small>
             </div>
             <!--  -->
             <div class="col-md-3 pt-2">
                 <div class="text-right">
                 <small class="time">11 min ago.</small>
              <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
              </div>
             </div>
             </div>
         </div>
            </li><li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
                     <div class="w-100 h-100 float-left"></div>
                </div>
     
                 <div class="col-md float-right">
                     <div class="row">
             <!--  -->
             <div class="col-md-9 ">
                 <div class="job_title font-weight-bold">
                     Write A Tech Website
                 </div>
                 
                 <div class="job-descrip">
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                 </div>
                 <div class="clearfix mb-2"></div>
                 <small class="niche">
                    <span class="badge badge-dark">Education</spanb>
                </small>
             </div>
             <!--  -->
             <div class="col-md-3 pt-2">
                 <div class="text-right">
                 <small class="time">11 min ago.</small>
              <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
              </div>
             </div>
             </div>
         </div>
            </li><li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
                     <div class="w-100 h-100 float-left"></div>
                </div>
     
                 <div class="col-md float-right">
                     <div class="row">
             <!--  -->
             <div class="col-md-9 ">
                 <div class="job_title font-weight-bold">
                     Write A Tech Website
                 </div>
                 
                 <div class="job-descrip">
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                 </div>
                 <div class="clearfix mb-2"></div>
                 <small class="niche">
                    <span class="badge badge-dark">Education</spanb>
                </small>
             </div>
             <!--  -->
             <div class="col-md-3 pt-2">
                 <div class="text-right">
                 <small class="time">11 min ago.</small>
              <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
              </div>
             </div>
             </div>
         </div>
            </li><li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
                     <div class="w-100 h-100 float-left"></div>
                </div>
     
                 <div class="col-md float-right">
                     <div class="row">
             <!--  -->
             <div class="col-md-9 ">
                 <div class="job_title font-weight-bold">
                     Write A Tech Website
                 </div>
                 
                 <div class="job-descrip">
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                 </div>
                 <div class="clearfix mb-2"></div>
                 <small class="niche">
                    <span class="badge badge-dark">Education</spanb>
                </small>
             </div>
             <!--  -->
             <div class="col-md-3 pt-2">
                 <div class="text-right">
                 <small class="time">11 min ago.</small>
              <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
              </div>
             </div>
             </div>
         </div>
            </li><li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
                     <div class="w-100 h-100 float-left"></div>
                </div>
     
                 <div class="col-md float-right">
                     <div class="row">
             <!--  -->
             <div class="col-md-9 ">
                 <div class="job_title font-weight-bold">
                     Write A Tech Website
                 </div>
                 
                 <div class="job-descrip">
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                 </div>
                 <div class="clearfix mb-2"></div>
                 <small class="niche">
                    <span class="badge badge-dark">Education</spanb>
                </small>
             </div>
             <!--  -->
             <div class="col-md-3 pt-2">
                 <div class="text-right">
                 <small class="time">11 min ago.</small>
              <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
              </div>
             </div>
             </div>
         </div>
            </li><li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
                     <div class="w-100 h-100 float-left"></div>
                </div>
     
                 <div class="col-md float-right">
                     <div class="row">
             <!--  -->
             <div class="col-md-9 ">
                 <div class="job_title font-weight-bold">
                     Write A Tech Website
                 </div>
                 
                 <div class="job-descrip">
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                    I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                 </div>
                 <div class="clearfix mb-2"></div>
                 <small class="niche">
                    <span class="badge badge-dark">Education</spanb>
                </small>
             </div>
             <!--  -->
             <div class="col-md-3 pt-2">
                 <div class="text-right">
                 <small class="time">11 min ago.</small>
              <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
              </div>
             </div>
             </div>
         </div>
            </li>  <li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                    <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/use.jpg')">
                         <div class="w-100 h-100 float-left"></div>
                    </div>
         
                     <div class="col-md float-right">
                         <div class="row">
                 <!--  -->
                 <div class="col-md-9">
                     <div class="job_title font-weight-bold">
                         Write A Tech Website about " How to install wordpress on amazon ec2 on amazon.com"
                     </div>
                    
                  <div class="job-descrip">
                        I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                     </div>
                 <div class="clearfix mb-2"></div>

                     <small class="niche">
                        <span class="badge badge-dark mr-2">Education</span><span class="badge badge-dark mr-2">Politics</span><span class="badge badge-dark mr-2">Scholarship</span>
                    </small>
                 </div>
                 <!--  -->
                 <div class="col-md-3 pt-2">
                     <div class="text-right">
                     <small class="time">11 min ago.</small>
                  <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px"><small>view contract</small></a>
                  </div>
                 </div>
                 </div>
             </div>
                </li>  <li class="row bg-white job-list position-relative py-3 text-left rounded-lg my-2">
                        <div class=" ml-4 col-md-3 profile_img rounded" style="background-image: url('img/profile.jpeg')">
                             <div class="w-100 h-100 float-left"></div>
                        </div>
             
                         <div class="col-md float-right">
                             <div class="row">
                     <!--  -->
                     <div class="col-md-9">
                         <div class="job_title font-weight-bold">
                             Write A Tech Website
                         </div>
                         
                      <div class="job-descrip">
                            I need someone who can wrisomeone who can wrisomeone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.I need someone who can write for me, am not paying i a just giving backlink.
                         </div>
                 <div class="clearfix mb-2"></div>

                         <small class="niche">
                            <span class="badge badge-dark">Education</span>
                        </small>
                     </div>
                     <!--  -->
                     <div class="col-md-3 pt-2">
                         <div class="text-right">
                         <small class="time">11 min ago.</small>
                      <a href="#!" class="c-btn-light d-block text-center mt-2 py-2  w-100  text-white" style="border-radius: 25px"><small>view contract</small></a>
                      </div>
                     </div>
                     </div>
                 </div>
                    </li>
   </ul>
</div>
<div class="col-md-3"></div>
</div>
</div>

<!-- footer -->
<footer class="primary-bg mt-4">
<div class="container text-center py-5">
<ul>
    <li>
        Terms 
    </li>
    <li>
        About
    </li>
    <li>Have a question</li>
</ul>
</div>
</footer>
<!-- footer -->
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
</div>
<div class="col-md-3">
    .
</div>
</div>
</div>
<script>
var niche=["all","education","news","sports",];
niche.forEach(element => {
    console.log(element)
});
</script>
</body>
</html>