<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dofollow dot app </title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
   
</head>
<body>
    
<!-- header -->
<header class="py-4">
<div class="container">
    <div class="row">
        <div class="col-4">DoFollow.Appp</div>
        <div class="col-8 text-right"><span>Already have an account? <a href="#!" class="primary-color">Log in</a></span></div>
    </div>
</div>
</header>
<!-- /header -->
<div class="intro position-relative
">
    <div class="overlay"></div>
    <div class="container descp_1 py-5">
        <div class="row">
            <div class="col-md-6">
                    <img src="./img/cover.gif" alt="" style="margin-left: -200px">
                </div>
        <div class="col-md-6 text-xl-left text-sm-left text-center">
            <h1 class="col-md-9">Home Of Pubilsher & Seo Master</h1>
            <div class="content col-md-9">Join the wining theme in our the is a very good commiunty to build link and content like ope has  build backlink.app wow!</div>
            <div class="col mt-lg-4 col-md-9">
                <a href="signin.html" class="c-btn-light white d-block text-center mt-2 py-2  w-100 text-white " style="border-radius: 25px">Login</a>
                <a href="signup.html" class="c-btn-light d-block white text-center mt-2 py-2  w-100 text-white" style="border-radius: 25px">Signup</a>

        </div>
        </div>
      </div>
    </div>
</div>

<div class="clearfix">

</div>

<!-- footer -->
<footer class="primary-bg mt-4">
<div class="container text-center py-5">
<ul>
    <li>
        Terms 
    </li>
    <li>
        About
    </li>
    <li>Have a question</li>
</ul>
</div>
</footer>
<!-- footer -->

</body>
</html>